{% extends 'base.html.twig' %}
{% block css %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/fh-3.1.3/sl-1.2.3/datatables.min.css"/>
{% endblock %}
{% block javascripts %}
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/fh-3.1.3/sl-1.2.3/datatables.min.js"></script>
<script>
    $(document).ready(function() {
    $('.dataTable').DataTable( );
} );
</script>
{% endblock %}

{% block body %}
    <h1>Liste des films</h1>

    <table  class="table table-striped dataTable">
        <thead>
            <tr>
                <th>Coloc</th>
                <th>Film</th>                
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for choice in choices %}
            <tr>
                <td>{{ choice.user }}</td>
                <td><a href="{{ path('movies_show', { 'id': choice.id }) }}">{{ choice.film.Title }}</a></td>
                <td>{% if choice.targetDate %}{{ choice.targetDate|date('d/m/Y') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('movies_show', { 'id': choice.id }) }}">Voir</a>
                        </li>
                        <li>
                            <a href="{{ path('movies_edit', { 'id': choice.id }) }}">Editer</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('movies_new') }}">Ajoutes un choix</a>
        </li>
    </ul>
{% endblock %}
