{% extends 'base.html.twig' %}
{% block javascripts %}
    {% javascripts '@ColocMoviesBundle/Resources/public/js/*' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {% stylesheets '@ColocMoviesBundle/Resources/public/css/*' %}
        <link href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <h1>Choice creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}



    <ul>
        <li>
            <a href="{{ path('movies_index') }}">Retour à la liste</a>
        </li>
    </ul>
{% endblock %}
